@import '../../../styles/variables.scss';

.heading3 {
  color: $midnight-blue;
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  margin-bottom: 16px;
  text-align: center;

  @media(max-width: $mobile-width) {
    font-size: 16px;
    font-weight: 900;
    height: 24px;
    line-height: 1.5;
  }
}
