@import '../../../styles/variables.scss';

.heading3 {
  color: $midnight-blue;
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  margin: 0 0 16px 0;
}
