@import '../../../../styles/variables.scss';

.checkbox {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.checkbox__input {
  margin: 0;
  position: absolute;
  visibility: hidden;
  z-index: -1;

  &:checked + .checkbox__tick {
    &::after {
      background-color: $accent-color;
      border: solid 2px $accent-color;
    }

    &::before {
      border: 2px solid $white;
      border-left: 0;
      border-top: 0;
      box-sizing: border-box;
      content: '';
      display: table;
      height: 13px;
      left: 50%;
      margin: -8px 0 0 -4px;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
      width: 7px;
    }

    &.checkbox__tick--semi {
      &::before {
        border-bottom: 0;
        transform: rotate(90deg);
      }
    }
  }
}

.checkbox__tick {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-10px);
  width: 20px;

  &::after {
    background-color: $white;
    border: 2px solid rgba(32, 37, 50, .14);
    border-radius: 2px;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 20px;
    transition: border 75ms ease-in-out, background 75ms ease-in-out;
    visibility: visible;
    width: 20px;
  }
}

.checkbox__tick--disabled {
  &::after {
    background-color: rgba(32, 37, 50, .14);
    border: 0;
  }
}

.checkbox__label {
  color: lighten($dark-gray, 25);
  font-size: 18px;
  line-height: 20px;
  padding-left: 25px;
}
