@import '../../styles/variables.scss';

.button {
  background-color: $duck-egg-blue;
  border: 1px solid rgba($accent-color, .6);
  border-radius: 3px;
  box-sizing: border-box;
  color: $accent-color;
  cursor: pointer;
  font-family: $primary-font;
  font-size: 16px;
  outline: none;
  padding: 9px 12px 12px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $accent-color;
    color: $white;
  }
}

.button__link {
  background: transparent;
  border: 0;
  padding: 0;

  &:hover {
    background: transparent;
    color: $dark-sky-blue;
    text-decoration: underline;
  }
}
