@import '../../styles/variables.scss';

.pill {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: $blue-gray;
  display: flex;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-around;
  padding: 17px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: darken($pale-gray, 2);
    color: rgba(0,9,76,0.56);
    color: $dark-gray;
  }
}

.pill--active {
  background-color: darken($pale-gray, 2);
  color: $blue-gray;
}
