@import '../../styles/variables.scss';

.downloads-page__page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media(max-width: $mobile-width) {
    margin: 0 15px;
  }
}

.downloads-page__dropdown {
  margin: 0 auto;
  text-align: left;
  width: 260px;
}

.downloads-page__download-card {
  margin-top: 36px;
  width: 270px;
}

.downloads-page__downloads-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 579px;

  @media(max-width: $mobile-width) {
    justify-content: space-around;
    width: 100%;
  }

  @media(max-width: 574px) {
    justify-content: center;
  }
}

.downloads-page__tab {
  padding: 14px 30px;
}

.downloads-page__tab--official {
  margin-right: 24px;
}

.downloads-page__pill-wrapper {
  margin-top: 32px;
}

.downloads-page__osquery-version {
  margin: 24px 0 12px 0;
}

.downloads-page__alternative-install-section {
  text-align: center;
}

.downloads-page__install-icon {
  height: 60px;
  margin-top: 39px;
  margin-bottom: 30px;
  width: 60px;
}

.downloads-page__install-pill {
  margin-right: 19px;

  &:last-child {
    margin-right: 0;
  }

  @media(max-width: $mobile-width) {
    margin: 5px;
    width: 140px;
  }
}

.downloads-page__terminal {
  background-color: $pale-gray;
  box-shadow: none;
  text-align: left;
  width: 789px;
}

.downloads-page__terminal-body {
  padding: 15px 20px;

  @media(max-width: $mobile-width) {
    width: 100%;
  }

  .monospace {
    color: $gray;
    font-size: 14px;
    font-weight: 600;
  }
}

.downloads-page__packages-section {
  text-align: center;
}

.downloads-page__title-section {
  margin-top: 107px;
  max-width: 600px;
  text-align: center;
}

div.downloads-page__section-break {
  margin-bottom: 50px;
  margin-top: 50px;
}
