@import '../../../styles/variables.scss';

.paragraph {
  color: $dark-gray;
  font-family: $primary-font;
  font-size: 18px;
  line-height: 30px;
  margin: 16px auto;
  max-width: 600px;
  text-align: center;

  @media(max-width: $mobile-width) {
    font-size: 16px;
    line-height: 1.5;
    max-width: 90%;
  }
}

.paragraph--highlight {
  background-color: $pale-gray;
  border-radius: 4px;
  box-sizing: border-box;
  color: $dark-blue;
  font-size: 16px;
  height: 50px;
  line-height: 1.5;
  padding-top: 12px;
  text-align: left;
  text-indent: 15px;
}
