@import '../../../styles/variables.scss';

.paragraph {
  color: $dark-gray;
  font-family: $primary-font;
  font-size: 18px;
  line-height: 30px;
  margin: 16px auto;
  max-width: 600px;
  text-align: center;
}
