$primary-font: 'Lato', sans-serif;
$code-font: 'Source Code Pro', monospace;

$accent-color: #4a9dff;
$dark-blue: #00125f;
$dark-gray: rgba(24, 27, 38, .84);
$dark-sky-blue: #2b84ec;
$dodger-blue-60: rgba(74, 157, 255, .6);
$duck-egg-blue: #f9fbfe;
$dusk: #5b4a75;
$dusk-16: rgba(77, 78, 127, .16);
$dusk-3: rgba(77, 78, 127, .3);
$error: #ff455b;
$gray: rgba(32,37,50,0.54);
$light-gray: rgba(0, 18, 95, .4);
$midnight-blue: #00094c;
$pale-gray: #f4f7fb;
$purple: #4d4e7f;
$success: #48da90;
$warning: #fdbd39;
$white: #fff;

$font-bold: 700;
$font-extra-bold: 900;
