$primary-font: 'Lato', sans-serif;
$code-font: 'Source Code Pro', monospace;

$accent-color: #4a9dff;
$dark-gray: rgba(24, 27, 38, .84);
$dark-sky-blue: #2b84ec;
$dodger-blue-60: rgba(74, 157, 255, .6);
$duck-egg-blue: #f9fbfe;
$error: #ff455b;
$light-gray: rgba(0, 18, 95, .4);
$midnight-blue: #00125f;
$pale-grey: #f4f7fb;
$purple: #4d4e7f;
$success: #48da90;
$warning: #fdbd39;
$white: #fff;

$font-bold: 700;
$font-extra-bold: 900;
