$max-viewport-width: 1100px;
$min-marquee-width: 1000px;
$mobile-width: 800px;

$primary-font: 'Lato', sans-serif;
$code-font: 'Source Code Pro', monospace;

$accent-color: #4a9dff;
$blue-gray: rgba(0, 9, 76, 0.56);
$dark: #202532;
$dark-blue: #00125f;
$dark-gray: rgba(24, 27, 38, .84);
$dark-sky-blue: #2b84ec;
$duck-egg-blue: #f9fbfe;
$dusk: #5b4a75;
$error: #ff455b;
$gray: rgb(32, 37, 50);
$light-gray: rgb(0, 18, 95);
$midnight-blue: #00094c;
$pale-gray: #f4f7fb;
$pink: #ff3975;
$purple: #4d4e7f;
$success: #48da90;
$warning: #fdbd39;
$white: #fff;

$font-bold: 700;
$font-extra-bold: 900;

$heavy-box-shadow: 0 2px 3px 0 rgba($gray, .05), 0 5px 15px 0 rgba($gray, .14), 0 21px 33px 0 rgba(48, 48, 91, 0.11);
