@import '../../styles/variables.scss';

.app__header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;

  @media(max-width: $mobile-width) {
    padding: 20px 10px;
  }
}

.app__home-link {
  color: $midnight-blue;
  text-decoration: none;

  @media(min-width: $mobile-width + 1px) {
    flex: 1;
  }
}

.app__logo {
  display: inline-flex;
  height: 100%;
}

.app__nav {
  flex: 3;

  @media(max-width: $mobile-width) {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
