@import '../../styles/variables.scss';

.app__header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-viewport-width;
  padding: 0 10px;

  @media(max-width: $mobile-width) {
    padding: 20px 10px;
  }
}

.app__home-link {
  color: $midnight-blue;
  text-decoration: none;
}

.app__logo {
  display: inline-flex;
  height: 100%;
}

.app__nav {
  @media(max-width: $mobile-width) {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
  }
}
