@import '../../../styles/variables.scss';

.heading5 {
  color: $purple;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 900;
  height: 24px;
  line-height: 24px;
  margin: 0 0 16px 0;
}
