@import '../../styles/variables.scss';

.blog-post {
  box-sizing: border-box;
  width: 700px;

  @media(max-width: $mobile-width) {
    width: 600px;
  }

  @media(max-width: 620px) {
    width: 400px;
  }

  @media(max-width: 480px) {
    padding: 0 15px;
    width: 100%;
  }

  article {
    margin-top: 36px;
    margin-bottom: 52px;

    a {
      color: $accent-color;
      font-weight: $font-bold;
      text-decoration: none;
    }

    h2 {
      color: rgba($gray, .8);
      font-size: 24px;
      font-weight: $font-bold;
      margin-bottom: 31px;
      text-align: center;
    }

    p {
      color: rgba($gray, .8);
      line-height: 1.56;
      font-size: 18px;

      @media(max-width: $mobile-width) {
        font-size: 16px;
      }

      code {
        background-color: $pale-gray;
        box-sizing: border-box;
        color: $pink;
        font-family: $code-font;
        font-size: 16px;
        padding: 2px 4px;
      }
    }

    pre {
      background-color: $pale-gray;
      box-sizing: border-box;
      padding: 14px;
      white-space: pre-wrap;
      word-wrap: break-word;

      code {
        color: rgba($gray, .8);
        font-size: 14px;
        font-family: $code-font;
      }
    }

    p > img:first-child {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 90%;
    }

    ul, ol {
      color: rgba($gray, .8);
      font-size: 18px;
      margin-left: 42px;

      @media(max-width: $mobile-width) {
        font-size: 16px;
      }

      li {
        color: rgba($gray, .8);
        line-height: 1.56;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  h1 {
    color: $accent-color;
    font-size: 32px;
    margin-bottom: 34px;
    margin-top: 50px;
    text-align: center;
  }
}

.blog-post__author {
  color: $dark;
  font-size: 18px;
  font-weight: $font-extra-bold;
  margin-bottom: 0;
  text-align: center;
}

.blog-post__date {
  color: rgba($gray, .5);
  font-size: 16px;
  margin-bottom: 24px;
  margin-top: 5px;
  text-align: center;
}

.blog-post__title-link {
  text-decoration: none;
}
