@import '../../../styles/variables.scss';

.monospace {
  color: $accent-color;
  font-family: $code-font;
  font-size: 15px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  max-width: 740px;
  opacity: 0.92;
}
