@import '../../styles/variables.scss';

.github-card__button {
  display: block;
}

.github-card__description {
  height: 68px;
  overflow: auto;
}

.github-card__footer {
  text-align: center;
}

.github-card__name {
  color: $midnight-blue;
  font-size: 16px;
  font-weight: $font-bold;
  margin: 0;
}

.github-card__star-count {
  color: $midnight-blue;
  font-size: 16px;
  font-weight: $font-bold;
  margin: 3px 0 0;
}
