@import '../../../styles/variables.scss';

.heading2 {
  color: $accent-color;
  font-family: $primary-font;
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  margin: 0 0 16px 0;
  text-align: center;

  @media(max-width: $mobile-width) {
    font-size: 20px;
    line-height: 24px;
  }
}
