@import '../../styles/variables.scss';

.osquery-table__header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
}

.osquery-table__header--right {
  margin-left: 15px;
  white-space: nowrap;
}

.osquery-table__new-indicator {
  background-color: $accent-color;
  border-radius: 3px;
  color: $white;
  font-size: 12px;
  font-weight: 700;
  padding: 1px 4px;
  margin-left: 4px;
  position: relative;
  text-transform: uppercase;
  top: -2px;
}

.osquery-table__evented-icon {
  display: inline-block;
  margin-left: 10px;
  margin-right: 0;
  position: relative;
  top: 3px;
}

.osquery-table__evented {
  color: rgba($gray, .54);
  font-size: 11px;
  font-weight: $font-bold;
  margin-left: 5px;
}

.osquery-table__icon {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.osquery-table__table-description {
  color: rgba($gray, .54);
  font-size: 14px;
  margin: 0 0 8px 0;
}

.osquery-table__table-data {
  color: $dark-gray;
  font-size: 14px;
}

.osquery-table__table-name {
  margin-bottom: 5px;
}

.osquery-table__table-url {
  color: $accent-color;
  font-size: 14px;
  font-weight: $font-bold;
  text-decoration: none;
}

.osquery-table__type {
  text-transform: uppercase;
}

.osquery-table {
  table {
    border-collapse: collapse;
    width: 100%;

    thead {
      background-color: #eef2f7;
      color: $dark-gray;
      font-size: 11px;
      font-weight: $font-bold;
      line-height: 15px;
    }

    td {
      padding: 15px;
      text-align: left;
    }

    tbody {
      tr {
        border-bottom: 1px solid rgba($dusk, .1);

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
