@import '../../styles/variables.scss';

.download-card {
  display: inline-block;
  text-align: left;
  word-wrap: break-word;
}

.download-card__name-wrapper {
  align-items: center;
  display: flex;
}

.download-card__download-type {
  margin-left: 8px;
}

.download-card__package-name {
  color: $accent-color;
  font-size: 14px;
  text-decoration: none;
}

.download-card .card-header {
  box-sizing: border-box;
  height: 90px;
}

.download-card .card-body {
  color: rgba($gray, .4);
  display: block;
  font-family: $code-font;
  font-size: 14px;
  word-break: break-all;
}
