@import '../../../styles/variables.scss';

.terminal-wrapper {
  background-color: $white;
  border-radius: 3px;
  box-shadow: $heavy-box-shadow;

  @media(min-width: $mobile-width + 1px) {
    width: 700px;
  }
}
